@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    background-image: url(/);
}
#div{
    width: 250px;
    height: 250px;
    background-color: red;
    position: absolute;
    left: 250px;
}
#div2{
    width: 250px;
    height: 250px;
    background-color: blue;
    position: absolute;
    left:1000px;
}
#button{
    height: 100px;
    width: 100px;
    left: 700px;
    position: absolute;
    top:300px;
    font-size:30px;

}
#zivoty{
    position: absolute;
    top: 300px;
    left: 300px;
    font-size: 30px;
    
    

}
#zivoty2{
    position: absolute;
    top: 300px;
    left:1000px;
    font-size: 30px;

}
#info{
    position: absolute;
    top: 450px;
    border:1px solid black;
    left: 650px ;
    padding: 40px;
    border-radius: 20px;
    font-size: 50px;
}

#level{
    position: absolute;
    top:450px;
    padding: 40px;

}
#level2{
    position: absolute;
    top:600px;
    padding: 40px;
    
}